html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary {
    margin-top: 1rem;
}

.btn-danger {
    margin-left: 1rem;
}

.enter-button {
    padding: 10px 25px;
    background-color: rgb(255,0,0);
    border: 0;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-weight: 700;
    color: black;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    transition: background-color 0.3s ease;
    text-transform: uppercase;

}

    .enter-button:hover {
        color: black;
        background-color: rgba(255,0,0,0.8);
    }

hr{
    margin: 2rem 0;
}

.logo {
    height: 75px;
}

h1 {
    font-size: 30px;
}

.text-danger {
    width: 100%;
}