@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to the draw</h1>
    <p>
        Fan of Wile E. Coyote? Do you want to squash the Road Runner as much as him? Well look no further!
        You now have a once in a lifetime opportunity to win a one of a kind anvil, signed by none other than Wile E. Coyote himself! So what are you waiting for? Enter the draw before your neighbor!
    </p>
 

    
        <a class="enter-button" asp-area="" asp-controller="Submissions" asp-action="Create">Enter here</a>
  
</div>
