@{
    ViewData["Title"] = "Thank you!";
}

<div class="text-center">
    <h1>Thank you for your submission</h1>

    <h2>We wish you the best of luck!</h2>

    <div>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="image" src="/lib/Image/anvil.png" /></a>
    </div>

    
   

</div>
