@model AcmeCorporation.Models.Submission

@{
    ViewData["Title"] = "Enter draw";
}


<div class="text-center">
    <h1>Welcome to the draw</h1>
    <p>
        Fan of Wile E. Coyote? Do you want to squash the Road Runner as much as him? Well look no further!
        You now have a once in a lifetime opportunity to win a one of a kind anvil, signed by none other than Wile E. Coyote himself! So what are you waiting for? Enter the draw before your neighbor!
    </p>
</div>
<div>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group mb-3">                  
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">                    
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label asp-for="Birthdate" class="input-group-text"></label>
                    </div>
                    <input asp-for="Birthdate" class="form-control" />
                    <span asp-validation-for="Birthdate" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">                   
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">                  
                    <input asp-for="SerialNumber" class="form-control" />
                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">
                    <input type="submit" value="Submit" class="enter-button" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
